---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","zip":"08835","phone":"555-555-0199","company":"Company","name":"John
        Von Doe","state":"AL","country":"US"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - f40abc8067c5d5abea87a60b0043f929
      Location:
      - "/api/v2/addresses/adr_bf4fc256f84a11ef9861ac1f6bc539ae"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb36nuq
      X-Version-Label:
      - easypost-202503031310-f5931d0281-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 99aac35317
      - intlb3nuq 51d74985a2
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_bf4fc256f84a11ef9861ac1f6bc539ae","object":"Address","created_at":"2025-03-03T16:15:39+00:00","updated_at":"2025-03-03T16:15:39+00:00","name":"John
        Von Doe","company":"Company","street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","state":"AL","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Mon, 03 Mar 2025 16:15:40 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"street1":"131 S 8th Ave","city":"Manville","zip":"08835","phone":"(202)
        456-1111","name":"NY Warehouse","company":"NY Warehouse","state":"NJ","country":"US"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - f40abc7967c5d5adea882e6b0043fc6b
      Location:
      - "/api/v2/addresses/adr_c0bdb83ef84a11ef9e8d3cecef1b359e"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb43nuq
      X-Version-Label:
      - easypost-202503031310-f5931d0281-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb2nuq 99aac35317
      - intlb4nuq 51d74985a2
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_c0bdb83ef84a11ef9e8d3cecef1b359e","object":"Address","created_at":"2025-03-03T16:15:41+00:00","updated_at":"2025-03-03T16:15:41+00:00","name":"NY
        Warehouse","company":"NY Warehouse","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Mon, 03 Mar 2025 16:15:41 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: UTF-8
      string: '{"parcel":{"weight":"10.0"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - f40abc7d67c5d5aeea882e880043fdbf
      Location:
      - "/api/v2/parcels/prcl_a874800bf2144e68bf5cab766b7823e8"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb36nuq
      X-Version-Label:
      - easypost-202503031310-f5931d0281-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 99aac35317
      - intlb4nuq 51d74985a2
    body:
      encoding: ASCII-8BIT
      string: '{"id":"prcl_a874800bf2144e68bf5cab766b7823e8","object":"Parcel","created_at":"2025-03-03T16:15:42Z","updated_at":"2025-03-03T16:15:42Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"}'
  recorded_at: Mon, 03 Mar 2025 16:15:42 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"id":"adr_bf4fc256f84a11ef9861ac1f6bc539ae"},"from_address":{"id":"adr_c0bdb83ef84a11ef9e8d3cecef1b359e"},"parcel":{"id":"prcl_a874800bf2144e68bf5cab766b7823e8"},"options":{}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - f40abc7f67c5d5afea882ea70043ff03
      Location:
      - "/api/v2/shipments/shp_ff3d7c35f1b0401a8d375628a163ed7a"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb34nuq
      X-Version-Label:
      - easypost-202503031310-f5931d0281-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 99aac35317
      - intlb3nuq 51d74985a2
    body:
      encoding: ASCII-8BIT
      string: '{"id":"shp_ff3d7c35f1b0401a8d375628a163ed7a","created_at":"2025-03-03T16:15:43Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2025-03-03T16:15:43Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_c0bdb83ef84a11ef9e8d3cecef1b359e","object":"Address","created_at":"2025-03-03T16:15:41+00:00","updated_at":"2025-03-03T16:15:41+00:00","name":"NY
        Warehouse","company":"NY Warehouse","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_a874800bf2144e68bf5cab766b7823e8","object":"Parcel","created_at":"2025-03-03T16:15:42Z","updated_at":"2025-03-03T16:15:42Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_a67cf31e1a4e411da79f5fa213213020","object":"Rate","created_at":"2025-03-03T16:15:43Z","updated_at":"2025-03-03T16:15:43Z","mode":"test","service":"Priority","carrier":"USPS","rate":"6.54","currency":"USD","retail_rate":"9.35","retail_currency":"USD","list_rate":"7.99","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_ff3d7c35f1b0401a8d375628a163ed7a","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_8ac8570fc7444565aced44a18214059c","object":"Rate","created_at":"2025-03-03T16:15:43Z","updated_at":"2025-03-03T16:15:43Z","mode":"test","service":"GroundAdvantage","carrier":"USPS","rate":"5.00","currency":"USD","retail_rate":"6.75","retail_currency":"USD","list_rate":"5.00","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_ff3d7c35f1b0401a8d375628a163ed7a","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_d388cb63b3504f4e9da22c4e93ad8dfa","object":"Rate","created_at":"2025-03-03T16:15:43Z","updated_at":"2025-03-03T16:15:43Z","mode":"test","service":"Express","carrier":"USPS","rate":"27.60","currency":"USD","retail_rate":"31.95","retail_currency":"USD","list_rate":"27.60","list_currency":"USD","billing_type":"easypost","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_ff3d7c35f1b0401a8d375628a163ed7a","carrier_account_id":"ca_mtb51Ve0"}],"refund_status":null,"scan_form":null,"selected_rate":null,"tracker":null,"to_address":{"id":"adr_bf4fc256f84a11ef9861ac1f6bc539ae","object":"Address","created_at":"2025-03-03T16:15:39+00:00","updated_at":"2025-03-03T16:15:39+00:00","name":"John
        Von Doe","company":"Company","street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","state":"AL","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"usps_zone":1,"return_address":{"id":"adr_c0bdb83ef84a11ef9e8d3cecef1b359e","object":"Address","created_at":"2025-03-03T16:15:41+00:00","updated_at":"2025-03-03T16:15:41+00:00","name":"NY
        Warehouse","company":"NY Warehouse","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"buyer_address":{"id":"adr_bf4fc256f84a11ef9861ac1f6bc539ae","object":"Address","created_at":"2025-03-03T16:15:39+00:00","updated_at":"2025-03-03T16:15:39+00:00","name":"John
        Von Doe","company":"Company","street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","state":"AL","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"forms":[],"fees":[],"object":"Shipment"}'
  recorded_at: Mon, 03 Mar 2025 16:15:44 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/shipments/shp_ff3d7c35f1b0401a8d375628a163ed7a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - f40abc7e67c5d5b1ea882ecc0044017f
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - b[...]
